.App {
  text-align: center;
}

.iconButton {
  transition: all 0.2s !important;
}

.iconButton:hover {
  background-color: #c5c5c5 !important;
  box-shadow: 0 7px 7px rgb(0, 0, 0 , 0.4);
}

.todoCard {
  transition: all 0.2s !important;
}

.todoCard:hover {
  padding-top: 15px;
  padding-bottom: 15px;
    box-shadow: 0 7px 7px rgb(0, 0, 0, 0.4);
}

.size { 
  padding: 0 !important;
  margin: 0 !important;
  width: 30px !important;
}

/* Custom font  */
@font-face {
  font-family: Tajawal;
  src: url(../public/fonts/Tajawal-Black.ttf);
  font-weight: 900 ;
}
@font-face {
  font-family: Tajawal;
  src: url(../public/fonts/Tajawal-ExtraBold.ttf);
  font-weight: 800 ;
}
@font-face {
  font-family: Tajawal;
  src: url(../public/fonts/Tajawal-Bold.ttf);
  font-weight: bold ;
}
@font-face {
  font-family: Tajawal;
  src: url(../public/fonts/Tajawal-Medium.ttf);
  font-weight: 500 ;
}
@font-face {
  font-family: Tajawal;
  src: url(../public/fonts/Tajawal-Regular.ttf);
  font-weight: 400 ;
}
@font-face {
  font-family: Tajawal;
  src: url(../public/fonts/Tajawal-Light.ttf);
  font-weight: 300 ;
}
@font-face {
  font-family: Tajawal;
  src: url(../public/fonts/Tajawal-ExtraLight.ttf);
  font-weight: 200 ;
}

/* //Custom font//  */

@media (max-width: 768px) {

}